html,
body {
    overflow-x: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

/*b1*/
.b1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #fff, #fff, #fff, #3bb5fc, #06D6A0);
}

.cad {
    width: 45%;
    min-width: 70vh;
    position: absolute;
    top: calc(4vh + 3vw);
    left: 5%;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2vh);
    }
}

.b2 {
    height: 100vh;
    width: 100%;
}