@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/Metropolis-Regular.otf");
}

@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/Metropolis-Bold.otf");
    font-weight: bold;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Lato";
}

body * {
    overflow-y: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
}

/*Nav*/
nav,
nav .right {
    transition: 0.3s;
}

nav {
    font-size: calc(1vh + 0.65vw);
    height: calc(3vh + 2vw);
    font-family: 'Metropolis', "arial";
    box-shadow: none;
}

nav a {
    color: #fff;
}

nav span {
    padding-right: 2vh;
    padding-left: 2vh;
    transition: 0.3s;
}

nav span:hover {
    color: #3D348B;
}

nav .right {
    position: absolute;
    right: 5%;
    margin: auto;
    padding-top: 2vh;
    padding-right: 2%;
}

hr {
    width: 80%;
    margin: auto;
}

/*Common Features*/
.features,
.ourtimeline,
.about {
    height: auto;
    width: 100%;
    /* background: #f7fafd; */
    padding-top: 7vh;
    padding-bottom: 5vh;
}

.product,
.faqs {
    height: auto;
    width: 100%;
    /* background: #fff; */
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.features .title,
.ourtimeline .title,
.faqs .title,
.about .title,
.product .title {
    color: #000;
    text-align: center;
    font-size: 5vh;
    font-family: 'Roboto';
}

/*landing*/
.landing {
    height: auto;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(2vh + 1vw);
    width: 100%;
}

.landing>div {
    overflow: unset;
}

.landing .back {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    padding-bottom: calc(2vh + 1vw);
    width: 100%;
}

.cad {
    width: 95%;
    margin-top: calc(4vh + 3vw);
    margin-left: 15%;
    animation: bounce 2s infinite alternate;
}

.cad-shadow {
    background: radial-gradient(50% 50%, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    width: 25%;
    margin-left: 45%;
    margin-top: calc(3vh + 2vw);
    height: calc(2vh + 2vw);
    animation: shadow 2s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2vh);
    }
}

@keyframes shadow {
    from {
        transform: scaleX(1.8) scaleY(1.5);
    }

    to {
        transform: scaleX(1) scaleY(1);
    }
}

.landing .col-6:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing .row {
    justify-content: center;
}

.landing .text {
    width: 50%;
}

.landing .title {
    font-size: calc(4vh + 4vw);
    text-align: center;
    font-family: "Lato";
    color: #fff;
    margin-top: -7vh;
}

.landing .label {
    font-size: calc(1vh + 2vw);
    text-align: center;
    font-family: "Lato";
    color: #fff;
    margin-top: -4vh;
}

.landing button {
    border: 0 !important;
    border-radius: 0.5vh;
    height: auto;
    width: auto;
    font-size: 2vh;
    margin-top: 3vh;
    background-color: #fff;
    padding: 1vh 3vh;
    color: #3bb5fc;
    transition: 0.3s;
    outline: none !important;
    /* background: linear-gradient(to right, #2193b0, #6dd5ed, #3bb5fc, #06D6A0); */
}

.landing button:hover {
    transform: scale(1.05);
}

/*features*/
.features .label {
    text-align: center;
    font-size: 2.5vh;
    margin-top: 1vh;
}

.features .desc {
    font-size: 1.8vh;
    margin-top: 1vh;
}

.features i {
    text-align: center;
    font-size: 9vh;
    width: 100%;
    margin-top: 2vh;
}

.features .row {
    justify-content: center;
}

.features .row>div {
    height: 25vh;
    border-radius: 1vh;
    margin: 2vh 2%;
    min-width: 25vh;
    width: 13%;
}

/*product*/
.product {
    padding-top: 15vh;
    overflow: hidden;
    position: relative;
}

.product .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 4vh;
}

.product img {
    width: 30%;
    min-width: 55vh;
    max-width: 80vh;
    margin: auto;
    display: block;
}

.product .left,
.product .right {
    flex: 1 1;
    min-width: 45vh;
    max-width: 70vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
}

.product .feature {
    width: 100%;
    padding-left: 30%;
    padding-right: 5%;
    display: inline-block;
    position: relative;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.product .label {
    font-size: 2.2vh;
    color: #1B98E0;
}

.product .desc {
    font-size: 1.5vh;
}

.product .icon-wrap {
    position: absolute;
    right: 75%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.product .right .icon-wrap {
    left: 7%;
}

.product .right .feature {
    padding-left: 20%;
    padding-right: 17%;
}

.product i {
    color: #6d3dff;
    font-size: 6vh;
}

/*highlight*/
.highlight .row>div {
    padding: 0 !important;
}

.highlight .text{
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
}

.highlight .img-wrap {
    height: 40vh;
    width: auto;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.highlight img {
    width: 100%;
}

.highlight .label {
    font-size: 4.5vh;
    text-align: left;
    width: 80%;
    margin: auto;
    font-family: 'Roboto';
    color: #06D6A0;
}

.highlight .desc {
    font-size: 1.8vh;
    width: 80%;
    margin: auto;
    margin-top: 1vh;
}

/*ourtimeline*/
.ourtimeline {
    padding-bottom: 9vh;
    overflow-x: hidden;
}

.ourtimeline .title {
    position: absolute;
    left: 0;
    right: 0;
}

.ourtimeline .timeline-wrap {
    height: 21vh;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0vh;
    overflow-x: auto;
}

.ourtimeline .timeline {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 1.5vh;
    height: 21vh;
    margin: auto;
    user-select: none;
}

.ourtimeline:active {
    cursor: move;
}

.ourtimeline::-webkit-scrollbar,
.ourtimeline .timeline-wrap::-webkit-scrollbar,
.ourtimeline .timeline::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.ourtimeline .line {
    width: calc(80% - 20vh);
    margin: auto;
    height: 1vh;
    background-image: linear-gradient(to right, #06D6A0, #3bb5fc);
    border-radius: 5vh;
    position: absolute;
    top: 11vh;
    transform: translateX(-1vh);
}

.ourtimeline .timeline-wrap>i {
    font-size: 3vh;
    position: absolute;
    top: 11.2vh;
    cursor: pointer;
}

.ourtimeline .fa-chevron-left {
    left: 4vh;
}

.ourtimeline .fa-chevron-right {
    right: 4vh;
}

.ourtimeline .event {
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1vh;
    width: auto;
    height: 25vh;
    position: relative;
}

.ourtimeline .timeline>:first-child {
    margin-left: 0% !important;
}

.ourtimeline .timeline>:last-child {
    margin-right: 0% !important;
}

.ourtimeline .dot {
    width: 2vh;
    height: 2vh;
    background: #6d3dff;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(0vh);
}

.ourtimeline .top .dot {
    top: 8vh;
}

.ourtimeline .bottom .dot {
    transform: translateY(2vh);
}

.ourtimeline .label {
    color: #fff;
    font-size: 2.5vh;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: #06D6A0;
    border-radius: 1vh;
    font-family: 'Nunito';
}

.ourtimeline .bottom .label {
    transform: translateY(12vh);
}

.ourtimeline .date {
    color: #aaa;
    font-size: 2vh;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    font-family: 'Nunito';
}

.ourtimeline .top .date {
    transform: translateY(6vh);
}

.ourtimeline .bottom .date {
    transform: translateY(-4vh);
}

/*faqs*/
.faqs .row {
    justify-content: center;
    margin-top: 2vh;
    padding-left: 10%;
    padding-right: 10%;
}

.faqs .row>div {
    height: auto;
    margin: 2vh 3%;
    min-width: 30vh;
    width: 24%;
}

.faqs .label {
    font-size: 2.2vh;
    border-bottom: #6d3dff solid 1px;
    display: inline-block;
    color: #1B98E0;
}

.faqs .desc {
    color: #444;
    margin-top: 0.5vh;
    font-size: 1.6vh;
}

/*about*/
.about .subtitle {
    text-align: center;
    font-size: 2.2vh;
    color: #777;
    width: 70%;
    margin: auto;
    margin-top: 0.7vh;
}

.about .row {
    justify-content: center;
    margin-top: 2vh;
}

.about .row>div {
    height: auto;
    border-radius: 0.75vh;
    margin: 2vh 1.25%;
    min-width: 30vh;
    max-width: 37vh;
    width: 16%;
    padding-bottom: 2vh;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.014),
        0 6.7px 5.3px rgba(0, 0, 0, 0.018),
        0 1.5px 1px rgba(0, 0, 0, 0.02),
        0 2.3px 7.9px rgba(0, 0, 0, 0.012),
        0 5px 5px rgba(0, 0, 0, 0.016),
        0 8px 8px rgba(0, 0, 0, 0.05);
}

.about .img-wrap {
    height: 27vh;
    overflow: hidden;
}

.about img {
    width: 100%;
}

.about .label {
    font-size: 2.5vh;
    text-align: center;
    margin-top: 1vh;
}

.about .desc {
    text-align: center;
    font-size: 1.8vh;
    margin-top: 0.5vh;
    color: #6d3dff;
}

/*b6 contact*/


/*footer*/
footer {
    height: 15vh;
    background-color: #282731;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #06D6A0;
    transition: 0.3s;
}

footer a:hover {
    color: #3bb5fc;
}

footer .copy {
    text-align: center;
    color: #fff;
    font-size: 1.8vh;
    font-family: 'Roboto';
}