@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/Metropolis-Regular.otf");
}

@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis/Metropolis-Bold.otf");
    font-weight: bold;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Lato";
}

body * {
    overflow-y: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

/*Nav*/
nav,
nav .right {
    transition: 0.3s;
}

nav {
    font-size: calc(1vh + 0.65vw);
    height: calc(3vh + 2vw);
    font-family: 'Metropolis', "arial";
    box-shadow: none;
}

nav a {
    color: #fff;
}

nav span {
    padding-right: 2vh;
    padding-left: 2vh;
    transition: 0.3s;
}

nav span:hover {
    color: #3D348B;
}

nav .right {
    position: absolute;
    right: 5%;
    margin: auto;
    padding-top: 2vh;
    padding-right: 2%;
}

nav img {
    height: calc(2vh + 2vw);
    margin-left: 20%;
}

/*Common Features*/
.b2,
.b4,
.b6 {
    height: auto;
    width: 100%;
    background: #f8fbfd;
    padding-top: 7vh;
    padding-bottom: 5vh;
}

.b3,
.b5 {
    height: auto;
    width: 100%;
    background: #fff;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.b2 .title,
.b3 .title,
.b4 .title,
.b5 .title,
.b6 .title {
    color: #000;
    text-align: center;
    font-size: 5vh;
    font-family: 'Roboto';
}

/*b1*/
.b1 {
    height: auto;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-bottom: calc(2vh + 1vw);
    width: 100%;
}

.b1 .back {
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    padding-bottom: calc(2vh + 1vw);
    width: 100%;
}

.cad {
    width: 80%;
    margin-top: calc(4vh + 3vw);
    margin-left: 15%;
    animation: bounce 2s infinite alternate;
}

.cad-shadow {
    background: radial-gradient(50% 50%, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    width: 25%;
    margin-left: 40%;
    margin-top: calc(3vh + 2vw);
    height: calc(2vh + 2vw);
    animation: shadow 2s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2vh);
    }
}

@keyframes shadow {
    from {
        transform: scaleX(1.8) scaleY(1.5);
    }

    to {
        transform: scaleX(1) scaleY(1);
    }
}

.b1 .col-6:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b1.row {
    justify-content: center;
}

.b1 .text {
    width: 50%;
}

.b1 .title {
    font-size: calc(4vh + 4vw);
    text-align: center;
    font-family: "Lato";
    color: #fff;
    margin-top: -7vh;
}

.b1 .label {
    font-size: calc(1vh + 2vw);
    text-align: center;
    font-family: "Lato";
    color: #fff;
    margin-top: -4vh;
}

.b1 button {
    border: 0 !important;
    border-radius: 0.5vh;
    height: auto;
    width: auto;
    font-size: 2vh;
    margin-top: 3vh;
    background-color: #fff;
    padding: 1vh 3vh;
    color: #3bb5fc;
    transition: 0.3s;
    outline: none !important;
    /* background: linear-gradient(to right, #2193b0, #6dd5ed, #3bb5fc, #06D6A0); */
}

.b1 button:hover {
    transform: scale(1.05);
}

/*b2*/
.b2 .label {
    text-align: center;
    font-size: 2.5vh;
    margin-top: 1vh;
}

.b2 .desc {
    font-size: 1.8vh;
    margin-top: 1vh;
}

.b2 i {
    text-align: center;
    font-size: 9vh;
    width: 100%;
    margin-top: 2vh;
}

.b2 .row {
    justify-content: center;
}

.b2 .row>div {
    height: 25vh;
    border-radius: 1vh;
    margin: 2vh 2%;
    min-width: 25vh;
    width: 13%;
}

/*b3*/
.b3 {
    padding-bottom: 9vh;
    overflow-x: hidden;
}

.b3 .timeline-wrap {
    height: 21vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0vh;
    overflow-x: auto;
}

.b3 .timeline {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 1.5vh;
    height: 21vh;
    margin: auto;
    user-select: none;
}

.b3:active {
    cursor: grab;
}

.b3::-webkit-scrollbar,
.b3 .timeline-wrap::-webkit-scrollbar,
.b3 .timeline::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.b3 .line {
    width: calc(80% - 20vh);
    margin: auto;
    height: 1vh;
    background-image: linear-gradient(to right, #06D6A0, #3bb5fc);
    border-radius: 5vh;
    position: absolute;
    top: 11vh;
    transform: translateX(-1vh);
}

.b3 .timeline-wrap>i {
    font-size: 3vh;
    position: absolute;
    top: 11.2vh;
    cursor: pointer;
}

.b3 .fa-chevron-left {
    left: 4vh;
}

.b3 .fa-chevron-right {
    right: 4vh;
}

.b3 .event {
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1vh;
    width: auto;
    height: 25vh;
    position: relative;
}

.b3 .timeline>:first-child {
    margin-left: 0% !important;
}

.b3 .timeline>:last-child {
    margin-right: 0% !important;
}

.b3 .dot {
    width: 2vh;
    height: 2vh;
    background: #6d3dff;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(0vh);
}

.b3 .top .dot {
    top: 8vh;
}

.b3 .bottom .dot {
    transform: translateY(2vh);
}

.b3 .label {
    color: #fff;
    font-size: 2.5vh;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: #06D6A0;
    border-radius: 1vh;
    font-family: 'Nunito';
}

.b3 .bottom .label {
    transform: translateY(12vh);
}

.b3 .date {
    color: #aaa;
    font-size: 2vh;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    font-family: 'Nunito';
}

.b3 .top .date {
    transform: translateY(6vh);
}

.b3 .bottom .date {
    transform: translateY(-4vh);
}

/*b4*/
.b4 {
    height: auto;
    width: 100%;
    background: #f8fbfd;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/*footer*/
footer {
    height: 15vh;
    background-color: #282731;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copy {
    text-align: center;
    color: #fff;
    font-size: 1.8vh;
    font-family: 'Roboto';
}